body {
    font-family: sans-serif;
}
/* Use CSS2 to automatically number the FAQ questions and answer */
ol#toc, div#general {
    counter-reset: topic;
}
ol#toc {
    border-style: solid;
    padding: 1cm;
}
ol#toc li.topic, div#general h2.topic {
    list-style: none;
    counter-reset: question;
}
div#general h2.topic {
    margin-left: -4em;
}
ol#toc li.topic:before, div#general h2.topic:before {
    content: counter(topic) ".  ";
    counter-increment: topic;
}
ol#toc li.question {
    list-style: none;
}
ol#toc li.question:before,  div#general h3.question:before {
    content: counter(topic) "." counter(question) ".  "; 
    counter-increment: question;
}
div#general h3.question {
    margin-left: -2em;
}




















