
.header {
	font-size: medium;
	background-color:#336699;
	color:#ffffff;
	border-style:solid;
	border-width: 5px;
	border-color:#002244;
	padding: 1mm 1mm 1mm 5mm;
}

.footer {
	font-size: small;
	font-style: italic;
	text-align: right;
	background-color:#336699;
	color:#ffffff;
	border-style:solid;
	border-width: 2px;
	border-color:#002244;
	padding: 1mm 1mm 1mm 1mm;
}

.footer a:link {
	font-weight:bold;
	color:#ffffff;
	text-decoration:underline;
}

.footer a:visited {
	font-weight:bold;
	color:#ffffff; 
	text-decoration:underline;
}

.footer a:hover { 
	font-weight:bold; 
	color:#002244; 
	text-decoration:underline; }

.check {font-size: x-small;
	text-align:right;}

.check a:link { font-weight:bold;
		color:#a0a0ff;
		text-decoration:underline; }

.check a:visited { font-weight:bold;
		   color:#a0a0ff;
		   text-decoration:underline; }

.check a:hover { font-weight:bold;
		 color:#000000;
		 text-decoration:underline; }

.summary-header {
    font-size: 120%;
    font-weight: bold;
    color: white;
    background-color: #369;
    text-align: center }

.summary-header span {
    font-weight: normal;
    font-size: 80%;
}

div.rn {
  float:        left;
  width:        20cm;
  margin-top:    1cm;
  margin-bottom: 1cm;
}

div.rn dl {
  margin-left: 3cm;
  width:      17cm;
}

div.rn dl dt {
  font-family: sans-serif;
  font-weight:       bold;
  margin-top:         1cm;
  background:        #369;
  color:             #fff;
  padding-left:       2ex;
}
