body {
    font-family: sans-serif;
}

div#main {
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    max-width: 20cm;
}

div#title {
    width: 80%;
    margin-left: 12%;
}

.header {
    text-align: center;
    font-size: medium;
    background-color: #3366ff;
    color:  #ffffff;
    border-radius: 1em;
    border-width: 5px;
    border-color:#002244;
    padding: 1mm 1mm 1mm 5mm;
    paddingleft: 10%;
}

.footer {
    font-size: small;
    font-style: italic;
    text-align: right;
    border-radius: 1em;
    border-width: 2px;
    border-color:#002244;
    padding: 1mm 1mm 1mm 1mm;
}

.footer a:link, .footer a:visited {
    font-weight: bold;

    text-decoration: underline;
}

.footer a:hover { 
    font-weight:bold; 
    color:#002244; 
    text-decoration:underline; 
}

.check {
    font-size: x-small;
    text-align:right;
}

.check a:link { 
    font-weight:bold;
    color:#a0a0ff;
    text-decoration:underline; 
}

.check a:visited { 
    font-weight:bold;
    color:#a0a0ff;
    text-decoration:underline; 
}

.check a:hover { 
    font-weight:bold;
    color:#000000;
    text-decoration:underline; 
}

.summary-header {
    font-size: 120%;
    font-weight: bold;
    color: white;
    background-color:  #6699ff;
    text-align: center 
}

.summary-header span {
    font-weight: normal;
    font-size: 80%;
}

/* "rn" meaning release notes */
div.rn {
    max-width:        20cm;
    margin-top:    1cm;
    margin-bottom: 1cm;
    margin-left: 15%;
    font-family: monospace;
}
div.rn dl {
    width:      20cm;
}
div.rn dl dt {
    border-radius: 1em;
    font-family: sans-serif;
    font-weight:       bold;
    margin:         1cm;
    background:        #3366ff;
    color:             #fff;
    padding-left:       1em;
    padding-top:        0.3em;
    padding-bottom:     0.3em;
    border-top-left-radius:	1em;
    border-bottom-right-radius:	0.5em;
}
div.rn dl dd {
    margin-top: 1em;
    margin-bottom: 1em;
}

td { 
    font-size: 85%; 
}
dt { 
    font-weight: bold 
}
dd dt { 
    font-weight: bold; font-style: italic 
}

table.downloads {
    color: black;
    font-weight: bold;
    font-size: larger;
}

table.downloads a {
    font-weight: normal;
    font-size:smaller;
}

table.downloads a.asc {
    font-size: smaller;
}

td ul { 
    margin:0;
}

td.summary-header { 
    padding: .3em;
    border-radius: .3em;
}

td.summary-header a:link, td.summary-header a:visited {
    color: white;
}

div#left-bar {
    float: left;
    width: 10%;
}
div#left-menu {
    background-color: #3366ff;
    border-radius: 1em;
    border-style: solid;
    border-color: #999999;
    float: left;
    font-family: sans-serif;
    font-size: smaller;
}

ul.menu-list  {
    list-style: none;
}

ul.menu-list a:link, ul.menu-list a:visited {
    font-weight: bold;
    color: #ffffff;
    text-decoration: underline;
}

ul.menu-list li {
    padding: .3em;
    margin-left: -40%;
    font-size: smaller;
}
