/* ----------------------------------------------------------------------------
 * File: abcl-css.css
 * ------------------------------------------------------------------------- */
pre {
	background-color: rgb(153, 153, 221);
	padding:	0.25em;
	padding-left:	5em;
}

/* ----------------------------------------------------------------------------
 * Push all the images right, and put padding around them.
 * ------------------------------------------------------------------------- */
.java-image {
	float:		right;
	padding:	0.5em;
}

/* ----------------------------------------------------------------------------
 * The welcome message at the top of each page. Just an idea -- to be removed
 * (both this and the HTML) if not seen as suitable.
 * ------------------------------------------------------------------------- */
#welcome {
	width:		25em;
	margin:		0.5em;
	padding-left:	10em;
}
#welcome pre {
	padding:	0.5em;
	color: white;
}
